*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size:10px;
}
body{
    font-family: "Joan", sans-serif;
}
.pageHeader{
    display:flex;
    padding:10px 25px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 15px 1px rgb(187, 187, 187);
}
.logo{
    font-size: 4.3rem;
    color:rgb(105, 105, 105)
}
.pageNav{
    display:flex;
}
.pageNav > li > a{
    font-size:1.6rem;
    color:rgb(36, 36, 36)
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.hamburger{
    font-size:4.2rem;
    cursor:pointer;
    display:none;
}
.closeMenu{
    font-size:3rem;
    display:none;
    cursor:pointer;
}
@media (max-width:768px){
    .closeMenu{
        display:block;
    }
    .pageNav {
        position:fixed;
        top:0;
        left:0;
        min-height: 100vh;
        flex-direction: column;
        background-color: white;
        width:275px;
        padding:25px;
        box-shadow:4px 0px 15px 1px rgba(0, 0, 0, 0.567);
        transform: translateX(-300px);
        transition: 1.2s;
    }
    .hamburger{
        display:block;
    }
}

.menuOn{
    transform: translateX(0);
}
.noteFormBtn{
    position: fixed;
    top:35%;
    right: 0;
    background-color: rgba(255, 74, 74, 0.69);
    color:white;
    box-shadow: -2px 5px 12px 1px black;
    cursor: pointer;
    border-radius: 75% 0 0 30%;
    font-size: 24px;
    right: 0;
    padding: 5px;
    height: 70px;
    line-height: 70px;
}
.noteFormBtn:hover{
    background-color:rgba(255, 74, 74, 0.932); ;
}
.noteForm{
    position: fixed;
    border: 2px solid rgba(0, 0, 0, 0.46);
    right:0;
    top:45%;
    transform: translateX(500px);
    box-shadow: -6px 15px 92px 41px black;
}
.weatherModal{
    background-color: red;
    position:fixed;
    height: 95%;
    width: 95%;
    top:2.5%;
    left:2.5%;
    background-image: url(./histor.png);
    background-size: cover;
    border-radius: 10%;
}
.weatherModal button{
    cursor: pointer;
    position: absolute;
    width: 30px;
    right:15px;
    top:15px;
    transition: 0.3;
}
.hideModal{
    opacity:0;
    z-index: -1;
}
.weatherModal h2{
    text-align: center;
}
.weatherModal h3{
    text-align: center;
}
.menuOn,
.formOn{
    transform: translateX(0);
}
.noteForm > div {
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top:15px;
} 
.noteForm input,
.noteForm textarea {
    border:none;
    background-color: white;
    padding: 6px 7px;
    width: 100%;
    resize:none;
    box-shadow: 0px 4px 8px 1px gray;
}
.card{
    box-shadow:  3px 11px 11px black;
    width:250px;
    min-height: 150px;
    padding:15px;
    background-color: #efefef;

}
.card > h3 {
    font-size: 1.6rem;
    margin-bottom: 8px;
}
.card > p {
    font-size: 1.4rem;
}
.noteWrapper {
    display: flex;
    gap:25px;
    flex-wrap: wrap;
}